
*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2b274e;
}


.container {
    display: grid;
     grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 3fr 7fr 2fr;
    grid-template-rows: 2fr 5fr 5fr 2fr 2fr;
    }

    .grid-item {
      background-color: rgb(221, 176, 29);
      text-align: center;
      color: rgb(255, 255, 255);
     padding: 25px;
     font-size: 30px;
     border-radius: 20px;
    }

    .caja1 {
     grid-column: 1 / span 3;
   grid-row: 1;
    }

    .caja3 {
     grid-column: 2;
     grid-row: 2 /span 2;
    }

    .caja2 {
     grid-column: 1;
    grid-row: 2 / span 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

    .caja2 figure{
        position: relative;
        height: 550px;
        width: 350px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 15px 25px
        rgba(0,0,0,0.50);
        cursor: pointer;
    }

    .caja2 figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    .caja2 figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba (15,103,123,0.7);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .caja2 figure:hover > .capa{
        opacity: 1;
        visibility: visible;
    }
    
    .caja2 figure:hover > .capa h2{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .caja2 figure:hover > img{
        transform: scale(1.3);
    }
    .caja2 figure:hover .capa h2{
        color: rgb(255, 255, 255);
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }

    .caja4 {
        grid-column: 3;
        grid-row: 2;
        }

    .caja4 {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    }
       
    .caja4 figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 25px
    rgba(0,0,0,0.50);
    cursor: pointer;
    }

    .caja4 figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    .caja4 figure .capa2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba (15,103,123,0.7);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .caja4 figure:hover > .capa2{
        opacity: 1;
        visibility: visible;
    }
    
    .caja4 figure:hover > .capa2 h2{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .caja4 figure:hover > img{
        transform: scale(1.3);
    }
    .caja4 figure:hover .capa2 h2{
        color: rgb(255, 255, 255);
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }

    .caja5 {
    grid-column: 3;
    grid-row: 3;
    }

    .caja5 {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 50vh;
        }
        
    .caja5 figure{
     position: relative;
    height: 250px;
    width: 350px;
     overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 25px
    rgba(0,0,0,0.50);
    cursor: pointer;
     }
        
     .caja5 figure img{
      width: 100%;
     height: 100%;
      transition: all 500ms ease-out;
    }
        
            .caja5 figure .capa3{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba (15,103,123,0.7);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
        
            .caja5 figure:hover > .capa3{
                opacity: 1;
                visibility: visible;
            }
            
            .caja5 figure:hover > .capa3 h2{
                margin-top: 70px;
                margin-bottom: 15px;
            }
            .caja5 figure:hover > img{
                transform: scale(1.3);
            }
            .caja5 figure:hover .capa3 h2{
                color: rgba(250, 204, 52, 0.767);
                font-weight: 400;
                margin-bottom: 120px;
                transition: all 500ms ease-out;
                margin-top: 30px;
            }
    .caja6 {
     grid-column: 1 / span 2;
   grid-row: 4;
    }
    
    .caja7 {
     grid-column: 3;
   grid-row: 4;
    }

    .caja8 {
     grid-column: 1 / span 3;
   grid-row: 5;
    }